@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Pretendard-Regular,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  --real-black: #000;
  --real-white: #fff;
}
*.dark {
  --bg-main: #1b1b1b;
  --text-main: #cdcdcd;
  --box-shadow: rgba(255, 255, 255, 0.8);
  --box-bg: #343434;
  --bg-theme-switch: #fff;
  --border-theme-switch: #000;
}
*.light {
  --bg-main: #f2f1f1;
  --text-main: #4e4e4e;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --box-bg: #c5c5c5;
  --bg-theme-switch: #000;
  --border-theme-switch: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
}

main {
  width: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0); /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.projectContainer > div {
  width: 100%;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}

.hide_scroll::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.career_box {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.channel_list::-webkit-scrollbar {
  background-color: #000;
  width: 10px;
}
.channel_list:hover::-webkit-scrollbar {
  display: block;
}
.channel_list::-webkit-scrollbar-thumb {
  background-color: rgba(213, 213, 213, 0.5);
  border-radius: 12px 12px 12px 12px;
}

#login_modal {
  position: fixed;

  z-index: 200;
  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#login_modal main {
  width: 20vw;
  min-width: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

#login_modal main h3 {
  color: #8546f9;
}
#login_modal main > div {
  width: 100%;
}

#login_modal main > div > span {
  display: inline-block;
  font-size: 0.8rem;
  color: #8546f9;
  margin: 20px 0px;
}

#login_modal main > div > * {
  margin-top: 10px;
}

#login_modal main > div > label p {
  margin-bottom: 10px;
}

#login_modal main > div > label input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

#login_modal main .btn_container {
  display: Flex;
  justify-content: center;
}
#login_modal main .btn_container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #8546f9;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .slide_when_moblie {
    flex-direction: column;
    gap: 50px;
  }
  .projectContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
